body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-blue-300);
    background-color: var(--light-blue-100);
    min-width: 320px;
}

header{
    padding: var(--horizontal-spacing);
    padding-bottom: 32px;
}

main{
    padding: 0 var(--horizontal-spacing);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(60vh, auto) auto;
    gap: 32px 58px;
}
.info-container{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    gap: 8px;
}

.info-txt{
    font-size: 0.75rem;
    color: var(--gray-400);
}


.input-txt{
    font-size: 2rem;
    color: var(--dark-blue-300);
    resize: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.input-txt:focus{
    outline: none;
    border:none;
}

.input-txt::placeholder{
    color: var(--dark-blue-300);
}

.output, .input{
    width: 100%;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.output{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-txt{
    font-size: 1.5rem;
    color: var(--gray-400);
    resize: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.empty-output{
    text-align: center;
}

.empty-output-txt{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    font-size: 1rem;
    color: var(--gray-400);
}

.empty-output-highlight{
    font-size: 1.5rem;
    color: var(--gray-500);
    font-weight: 700;
}

.output-result{
    display: none;
}


.copy-container{
    display: flex;
    gap: 8px;
}

.copy-container:hover{
    cursor: pointer;
    filter: brightness(0.3);
}

.copy-txt{
    font-size: 0.75rem;
    color: var(--gray-200);
}

.btn-container{
    padding: 0 32px;
    width: 100%;
    display: flex;
    gap: 24px;
}

button{
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    font-size: 1rem;
    padding: 24px;
    width: 100%;
}

button:hover{
    cursor: pointer;
}

.btn-white{
    color: var(--dark-blue-300);
    border-color: var(--dark-blue-300);
    background-color: white;
}

.btn-white:hover{
    background-color: var(--light-blue-200);
}

.btn-blue{
    background-color: var(--dark-blue-300);
    border-color: var(--dark-blue-300);
    color: white;
}

.btn-blue:hover{
    background-color: var(--dark-blue-400);
    border-color: var(--dark-blue-400);
}

footer{
    color: var(--light-blue-500);
    margin: 24px 0 0 10px;
    text-align: center;
}

footer a{
    color: var(--dark-blue-400);
}

footer a:hover{
    color: var(--dark-blue-200);
}


@media (max-width: 768px){ 
    header{
        padding: var(--horizontal-spacing-sm);
        padding-bottom: 32px;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(40vh, auto) auto minmax(30vh, auto);
        padding: 0 var(--horizontal-spacing-sm);
        row-gap: 16px;
    } 

    .info-container{
        grid-column-end: auto;
    }

    #empty-img{
        display: none;
    }

    .btn-container{
        order: 1;
    }

    .output{
        order: 2;
    }
}



